/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a:visited {
  color: inherti;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 20px;
  font-family: Roboto Mono for Powerline;
  letter-spacing: 0.16rem;
  line-height: 2rem;
}

.inner {
  width: 83%;
  margin: 0 auto;
  padding-bottom: 75px;
}

.title {
  color: #707070;
  font-size: 1.8rem;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding-top: 160px;
}

@media (max-width: 600px) {
  .title {
    margin-bottom: 70px;
    padding-top: 70px;
  }
}

.title:after {
  display: inline-block;
  content: "";
  background-color: #707070;
  height: 1px;
  width: 70px;
  margin-left: 20px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 5%;
  left: 7%;
  width: 93%;
  z-index: 10;
}

@media (max-width: 900px) {
  header {
    width: 85%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 600px) {
  header {
    background-color: #fff;
    width: 100%;
    height: 70px;
    position: absolute;
    left: 0;
    top: 0;
  }
}

header .header-logo {
  font-size: 3.8rem;
}

@media (max-width: 600px) {
  header .header-logo {
    font-size: 2.2rem;
    -webkit-transform: translate(10%, 0);
            transform: translate(10%, 0);
  }
}

@media (max-width: 900px) {
  nav {
    display: none;
  }
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  margin-left: 6%;
}

nav ul li:first-child {
  text-decoration: underline;
}

nav ul li a {
  color: #707070;
}

.ham {
  display: none;
}

@media (max-width: 900px) {
  .ham {
    height: 25px;
    width: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .ham span {
    display: inline-block;
    height: 3px;
    width: 100%;
    background-color: black;
  }
}

@media (max-width: 600px) {
  .ham {
    height: 14px;
    width: 16px;
    margin-right: 18px;
  }
  .ham span {
    background-color: #3B4043;
    height: 2px;
  }
  .ham span:last-child {
    width: 50%;
  }
}

.first-view {
  height: 100vh;
}

.first-view .fv-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  height: 100vh;
  width: 100%;
}

.first-view .fv-content .fv-text {
  height: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  z-index: 10;
}

@media (max-width: 900px) {
  .first-view .fv-content .fv-text {
    width: 75%;
    position: absolute;
    left: 15%;
  }
}

.first-view .fv-content .fv-text h2 {
  font-size: 3.8rem;
}

@media (max-width: 900px) {
  .first-view .fv-content .fv-text h2 {
    color: white;
    font-size: 2.8rem;
  }
}

.first-view .fv-content .fv-text p {
  font-size: 3.8rem;
}

@media (max-width: 900px) {
  .first-view .fv-content .fv-text p {
    color: white;
    font-size: 2.3rem;
  }
}

.fv-img {
  width: 100%;
  overflow: hidden;
}

.fv-img img {
  height: 100vh;
  width: 100%;
}

@media (max-width: 900px) {
  .fv-img img {
    background-size: cover;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 600px) {
  .fv-img img {
    -o-object-position: left;
       object-position: left;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

#concept {
  background: -webkit-gradient(linear, left top, left bottom, from(#A193861F), color-stop(40%, #A193861F), color-stop(40%, #A1938689), to(#A1938689));
  background: linear-gradient(to bottom, #A193861F 0%, #A193861F 40%, #A1938689 40%, #A1938689 100%);
}

#concept .concept-img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  #concept .concept-img-wrap .concept-img {
    width: 50%;
  }
}

#concept .concept-img-wrap .concept-img .pc-img {
  height: 100%;
  width: 100%;
}

#concept .concept-img-wrap .concept-img .pc-img:first-child {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}

#concept .concept-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #ffffff;
  margin-top: 70px;
}

@media (max-width: 600px) {
  #concept .concept-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
  }
}

#concept .concept-text h2 {
  font-size: 4.0rem;
}

@media (max-width: 900px) {
  #concept .concept-text h2 {
    white-space: nowrap;
    font-size: 2.6rem;
  }
}

@media (max-width: 600px) {
  #concept .concept-text h2 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 40px;
  }
}

#concept .concept-text p {
  font-size: 1.6rem;
  width: 40%;
}

@media (max-width: 600px) {
  #concept .concept-text p {
    width: 100%;
    line-height: 2.5rem;
    letter-spacing: 0.4rem;
  }
}

.concept-img:first-child {
  margin-right: 1rem;
}

#menu {
  width: 100%;
}

#menu .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  #menu .menu-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#menu .menu-item .person {
  width: 26%;
}

@media (max-width: 600px) {
  #menu .menu-item .person {
    width: 100%;
    margin-bottom: 50px;
  }
  #menu .menu-item .person:last-child {
    margin-bottom: 0;
  }
}

#menu .menu-item .person img {
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  #menu .menu-item .person img {
    height: 40vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

#menu .menu-item .person .person-cacth {
  font-size: 3.0rem;
  text-align: center;
  padding-top: 35px;
  white-space: nowrap;
}

@media (max-width: 900px) {
  #menu .menu-item .person .person-cacth {
    font-size: 2.2rem;
  }
}

@media (max-width: 600px) {
  #menu .menu-item .person .person-cacth {
    font-size: 3.0rem;
    text-align: left;
  }
}

#menu .menu-item .person .person-text {
  font-size: 1.6rem;
  text-align: center;
  padding-top: 35px;
}

@media (max-width: 900px) {
  #menu .menu-item .person .person-text {
    text-align: left;
    line-height: 2.0rem;
  }
}

#menu .menu-item .person .person-prise {
  font-size: 1.6rem;
  text-align: right;
  font-weight: bold;
  padding-top: 35px;
}

@media (max-width: 900px) {
  #menu .menu-item .person .person-prise {
    white-space: nowrap;
  }
}

@media (max-width: 600px) {
  #menu .menu-item .person .person-prise {
    font-weight: normal;
  }
}

#access {
  background-color: #A193861F;
  padding-bottom: 70px;
}

@media (max-width: 600px) {
  #access {
    width: 100%;
  }
}

#access h2 {
  margin-left: 8.4rem;
}

@media (max-width: 600px) {
  #access h2 {
    margin-left: 4.0rem;
    margin-bottom: 40px;
  }
}

#access .access-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  #access .access-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

#access .access-wrap .access-item {
  background-color: #D0C5BA;
  height: 40vh;
  width: 40%;
  margin: 0 auto;
  text-align: left;
  position: relative;
}

@media (max-width: 600px) {
  #access .access-wrap .access-item {
    width: 100%;
  }
}

#access .access-wrap .access-item table {
  position: absolute;
  top: 50%;
  left: 30%;
  -webkit-transform: translate(-30%, -50%);
          transform: translate(-30%, -50%);
  height: 192px;
}

@media (max-width: 600px) {
  #access .access-wrap .access-item table {
    width: 80%;
    height: 30vh;
  }
}

#access .access-wrap .access-item table th {
  font-size: 2.4rem;
  color: #00000038;
}

#access .access-wrap .access-item table td {
  font-size: 1.6rem;
  color: #FFFFFF;
  white-space: nowrap;
}

#access .access-wrap .map-wrap {
  width: 60%;
  height: 40vh;
}

@media (max-width: 600px) {
  #access .access-wrap .map-wrap {
    width: 100%;
  }
}

#access .access-wrap .map-wrap .map {
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  #access .access-wrap .map-wrap .map {
    width: 100%;
  }
}

#reserve {
  height: 340px;
  position: relative;
}

@media (max-width: 600px) {
  #reserve {
    height: 240px;
  }
}

#reserve .footer-wrap {
  width: 80%;
  border-top: 1px solid #7070704D;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(0, -80px);
          transform: translate(0, -80px);
  position: absolute;
  top: 75%;
}

@media (max-width: 600px) {
  #reserve .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

#reserve .footer-wrap a {
  font-size: 1.8rem;
  color: #707070;
  border: 1px solid;
  height: 40px;
  padding: 0 40px;
  line-height: 40px;
}

@media (max-width: 600px) {
  #reserve .footer-wrap a {
    margin-bottom: 50px;
  }
}

#reserve .footer-wrap .footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (max-width: 600px) {
  #reserve .footer-wrap .footer-item {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

#reserve .footer-wrap .footer-item h2 {
  font-size: 3.2rem;
  color: #7070704D;
}

@media (max-width: 600px) {
  #reserve .footer-wrap .footer-item h2 {
    font-size: 1.8rem;
  }
}

#reserve .footer-wrap .footer-item .footer-icon {
  margin-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#reserve .footer-wrap .footer-item .footer-icon span:last-child {
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */
