#menu {
  width: 100%;
  .menu-item {
    display: flex;
    justify-content: space-between;
    @include sp{
      flex-direction: column;
    }
    .person {
      width: 26%;
      @include sp{
        width: 100%;
        margin-bottom: 50px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      img {
        width: 100%;
        max-width: 100%;
        height: 100%;
        @include tab {
          object-fit: cover;
        }
      }
      .person-cacth {
        font-size: 3.0rem;
        text-align: center;
        padding-top: 35px;
        white-space: nowrap;
        @include tab {
          font-size: 2.2rem;
        }
        @include sp {
          font-size: 3.0rem;
          text-align: left;
        }
      }
      .person-text {
        font-size: 1.6rem;
        text-align: left;
        padding-top: 35px;
        @include tab {
          text-align: left;
          line-height: 2.0rem;
        }
      }
      .person-prise {
        font-size: 1.6rem;
        text-align: right;
        font-weight: normal;
        padding-top: 35px;
        @include tab {
          white-space: nowrap;
        }
        @include sp {
          font-weight: normal;
        }
      }
    }
  }
}

.person-img-pc {
  @include sp {
    display: none;
  }
}

.person-img-sp {
  display: none;
  @include sp {
    display: block;
  }
}
